// Source for the glowing text: https://codepen.io/jackrobertscott/pen/OMEpKM
// Edited by Arttu Ylhävuori (text alignment, flex box usage and font sizes)

$light: #ffffff;
$dark: lighten(#000000, 8%);
$glow: #0ba9ca;
$fs: 3em;

html {
  height: 100%;
}
body {
  background-color: $dark;
  background-image: linear-gradient(45deg, $dark, lighten($dark, 5%));
  height: 100%;
}
.glow {
  display: flex;
  width: 50%;
  height: 100%;
  margin: auto;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  span {
    color: $light;
    text-shadow: 0 0 2px $light, 0 0 10px $light, 0 0 20px $glow, 0 0 30px $glow,
      0 0 40px $glow, 0 0 50px $glow;
    animation: blink 1.5s infinite alternate;
  }
  .major {
    font-size: $fs;
  }
  .minor {
    font-size: $fs/3 * 2;
  }
}

@keyframes blink {
  0% {
  }
  100% {
    text-shadow: 0 0 2px $light, 0 0 10px $light, 0 0 20px $light,
      0 0 40px $glow, 0 0 70px $glow, 0 0 80px $glow;
  }
}
